<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for items in receipts %}
                <tr>
                    <td> {{ items.vendor }} </td>
                    <td> {{ items.total }} </td>
                    <td> {{ items.tax }} </td>
                    <td> {{ items.date|date:"m/d/y" }} </td>
                    <td> {{ items.category }} </td>
                    <td> {{ items.account }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
